<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>Smart_Hub</display-name>
  <welcome-file-list>
    <welcome-file>jsp_pages/index/index.jsp</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>EmployeeRegistrationServlet</display-name>
    <servlet-name>EmployeeRegistrationServlet</servlet-name>
    <servlet-class>com.smart_hub.servlets.EmployeeRegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeRegistrationServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerRegistration</display-name>
    <servlet-name>CustomerRegistration</servlet-name>
    <servlet-class>com.smart_hub.servlets.CustomerRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerRegistration</servlet-name>
    <url-pattern>/Registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>com.smart_hub.servlets.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchUser</display-name>
    <servlet-name>FetchUser</servlet-name>
    <servlet-class>com.smart_hub.servlets.FetchUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchUser</servlet-name>
    <url-pattern>/FetchUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDepartment</display-name>
    <servlet-name>AddDepartment</servlet-name>
    <servlet-class>com.smart_hub.servlets.AddDepartment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDepartment</servlet-name>
    <url-pattern>/addDepartment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetDesignations</display-name>
    <servlet-name>GetDesignations</servlet-name>
    <servlet-class>com.smart_hub.servlets.GetDesignations</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDesignations</servlet-name>
    <url-pattern>/getDesignations</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.smart_hub.servlets.AppContextListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>ApproveEmployee</display-name>
    <servlet-name>ApproveEmployee</servlet-name>
    <servlet-class>com.smart_hub.servlets.ApproveEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveEmployee</servlet-name>
    <url-pattern>/approve_employee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditEmployee</display-name>
    <servlet-name>EditEmployee</servlet-name>
    <servlet-class>com.smart_hub.servlets.EditEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditEmployee</servlet-name>
    <url-pattern>/editEmp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteEmployee</display-name>
    <servlet-name>DeleteEmployee</servlet-name>
    <servlet-class>com.smart_hub.servlets.DeleteEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteEmployee</servlet-name>
    <url-pattern>/deleteEmp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCategory</display-name>
    <servlet-name>AddCategory</servlet-name>
    <servlet-class>com.smart_hub.servlets.AddCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCategory</servlet-name>
    <url-pattern>/addCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProduct</display-name>
    <servlet-name>AddProduct</servlet-name>
    <servlet-class>com.smart_hub.servlets.AddProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProduct</servlet-name>
    <url-pattern>/addProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerLogin</display-name>
    <servlet-name>CustomerLogin</servlet-name>
    <servlet-class>com.smart_hub.servlets.CustomerLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerLogin</servlet-name>
    <url-pattern>/customerLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddOffers</display-name>
    <servlet-name>AddOffers</servlet-name>
    <servlet-class>com.smart_hub.servlets.AddOffers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddOffers</servlet-name>
    <url-pattern>/addOffers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageEmployee</display-name>
    <servlet-name>ManageEmployee</servlet-name>
    <servlet-class>com.smart_hub.servlets.ManageEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageEmployee</servlet-name>
    <url-pattern>/ManageEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeLogin</display-name>
    <servlet-name>EmployeeLogin</servlet-name>
    <servlet-class>com.smart_hub.servlets.EmployeeLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeLogin</servlet-name>
    <url-pattern>/employeeLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeTakeAttendance</display-name>
    <servlet-name>EmployeeTakeAttendance</servlet-name>
    <servlet-class>com.smart_hub.servlets.EmployeeTakeAttendance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeTakeAttendance</servlet-name>
    <url-pattern>/attendance</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LeaveServlet</display-name>
    <servlet-name>LeaveServlet</servlet-name>
    <servlet-class>com.smart_hub.servlets.LeaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LeaveServlet</servlet-name>
    <url-pattern>/leave</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageProduct</display-name>
    <servlet-name>ManageProduct</servlet-name>
    <servlet-class>com.smart_hub.servlets.ManageProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageProduct</servlet-name>
    <url-pattern>/manageProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadPayslipServlet</display-name>
    <servlet-name>DownloadPayslipServlet</servlet-name>
    <servlet-class>com.smart_hub.servlets.DownloadPayslipServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadPayslipServlet</servlet-name>
    <url-pattern>/paySlip</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SalaryPaymentServlet</display-name>
    <servlet-name>SalaryPaymentServlet</servlet-name>
    <servlet-class>com.smart_hub.servlets.SalaryPaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SalaryPaymentServlet</servlet-name>
    <url-pattern>/salaryPayment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageCustomer</display-name>
    <servlet-name>ManageCustomer</servlet-name>
    <servlet-class>com.smart_hub.servlets.ManageCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageCustomer</servlet-name>
    <url-pattern>/manageCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartServlet</display-name>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>com.smart_hub.servlets.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/cartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveFromCartServlet</display-name>
    <servlet-name>RemoveFromCartServlet</servlet-name>
    <servlet-class>com.smart_hub.servlets.RemoveFromCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveFromCartServlet</servlet-name>
    <url-pattern>/removeFromCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlaceOrderServlet</display-name>
    <servlet-name>PlaceOrderServlet</servlet-name>
    <servlet-class>com.smart_hub.servlets.PlaceOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlaceOrderServlet</servlet-name>
    <url-pattern>/placeOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AssignOrderServlet</display-name>
    <servlet-name>AssignOrderServlet</servlet-name>
    <servlet-class>com.smart_hub.servlets.AssignOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignOrderServlet</servlet-name>
    <url-pattern>/AssignOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NotificationUpdateServlet</display-name>
    <servlet-name>NotificationUpdateServlet</servlet-name>
    <servlet-class>com.smart_hub.servlets.NotificationUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NotificationUpdateServlet</servlet-name>
    <url-pattern>/NotificationUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateOrderStatusServlet</display-name>
    <servlet-name>UpdateOrderStatusServlet</servlet-name>
    <servlet-class>com.smart_hub.servlets.UpdateOrderStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateOrderStatusServlet</servlet-name>
    <url-pattern>/UpdateOrderStatusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateOrderStatusShipped</display-name>
    <servlet-name>UpdateOrderStatusShipped</servlet-name>
    <servlet-class>com.smart_hub.servlets.UpdateOrderStatusShipped</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateOrderStatusShipped</servlet-name>
    <url-pattern>/UpdateOrderStatusShipped</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitFeedbackServlet</display-name>
    <servlet-name>SubmitFeedbackServlet</servlet-name>
    <servlet-class>com.smart_hub.servlets.SubmitFeedbackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitFeedbackServlet</servlet-name>
    <url-pattern>/SubmitFeedbackServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetSubCategoryServlet</display-name>
    <servlet-name>GetSubCategoryServlet</servlet-name>
    <servlet-class>com.smart_hub.servlets.GetSubCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSubCategoryServlet</servlet-name>
    <url-pattern>/GetSubCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuyProductServlet</display-name>
    <servlet-name>BuyProductServlet</servlet-name>
    <servlet-class>com.smart_hub.servlets.BuyProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyProductServlet</servlet-name>
    <url-pattern>/buyProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProductServlet</display-name>
    <servlet-name>UpdateProductServlet</servlet-name>
    <servlet-class>com.smart_hub.servlets.UpdateProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProductServlet</servlet-name>
    <url-pattern>/UpdateProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResetPasswordServlet</display-name>
    <servlet-name>ResetPasswordServlet</servlet-name>
    <servlet-class>com.smart_hub.servlets.ResetPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetPasswordServlet</servlet-name>
    <url-pattern>/ResetPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResetPasswordEmployeeServlet</display-name>
    <servlet-name>ResetPasswordEmployeeServlet</servlet-name>
    <servlet-class>com.smart_hub.servlets.ResetPasswordEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetPasswordEmployeeServlet</servlet-name>
    <url-pattern>/ResetPasswordEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResetPasswordCustomerServlet</display-name>
    <servlet-name>ResetPasswordCustomerServlet</servlet-name>
    <servlet-class>com.smart_hub.servlets.ResetPasswordCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetPasswordCustomerServlet</servlet-name>
    <url-pattern>/ResetPasswordCustomerServlet</url-pattern>
  </servlet-mapping>
</web-app>